spring:
  application:
    name: spring-security-practice

  datasource:
    url: jdbc:postgresql://localhost:5432/spring-db
    username: user
    password: password

  sql:
    init:
      mode: always
      continue-on-error: false

logging:
  level:
    org:
      springframework:
        security: TRACE