spring:
  application:
    name: spring-security-practice

  datasource:
    url: jdbc:postgresql://localhost:5432/spring-db
    username: user
    password: password

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate

  sql:
    init:
      mode: always

logging:
  level:
    org:
      springframework:
        security: TRACE